.App {
  text-align: center;
}

.historical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tradingSignals {
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.converteraha {
  border: 1px solid black;
  padding: 15%;
  border-radius: 2%;
}

#historical {
  margin-top: 0%;
  margin-bottom: 0;
}

#prediction {
  margin-top: 3%;
  margin-bottom: -1%;
}

#cryotiviser {
  font-size: 35px;
}