.App {
  text-align: center;
}

.historical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tradingSignals {
  display: flex;
  justify-content: center;
  align-items: center;
}
